<a href="https://colab.research.google.com/github/Kundan71/Pandas/blob/main/Pandas_Operations_on_Automobile_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u> Use only those concepts which have been taught till now </u>

# <b> Problem 1: Import Pandas and Numpy in the notebook </b>

In [ ]:
# Import statements
import numpy as np
import pandas as pd

# <b> Problem 2 : Load the automobile_data.csv kept in the shared folder

In [ ]:
# Mount your drive and read the csv file. Make sure you are using the correct file path
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# <b> Problem 3 : Do a basic inspection and print the first and last 15 rows of your dataframe

In [ ]:
# Your code here
file_path = '/content/drive/MyDrive/Colab Notebooks/Module 1/week 3/data/automobile_data.csv'
df=pd.read_csv(file_path)

df.head(15)

    symboling normalized-losses         make  ... city-mpg highway-mpg  price
0           3                 ?  alfa-romero  ...       21          27  13495
1           3                 ?  alfa-romero  ...       21          27  16500
2           1                 ?  alfa-romero  ...       19          26  16500
3           2               164         audi  ...       24          30  13950
4           2               164         audi  ...       18          22  17450
5           2                 ?         audi  ...       19          25  15250
6           1               158         audi  ...       19          25  17710
7           1                 ?         audi  ...       19          25  18920
8           1               158         audi  ...       17          20  23875
9           0                 ?         audi  ...       16          22      ?
10          2               192          bmw  ...       23          29  16430
11          0               192          bmw  ...       23          29  16925
12          0               188          bmw  ...       21          28  20970
13          0               188          bmw  ...       21          28  21105
14          1                 ?          bmw  ...       20          25  24565

[15 rows x 26 columns]

# <b>Problem 4 : You need to clean the data a little bit now. Replace all column values with the values <code>?</code> and <code>n.a</code> with <code>NaN</code>

In [ ]:
#df.replace(to_replace = np.?, value = 'NaN', inplace=True)
#df["price"].replace({"?": "NaN"}, inplace=True)
#df = df.replace('?', 'NaN')
df.replace(to_replace =["?", "n.a"], value = np.nan, inplace=True)
df.dropna(inplace=True)
df.shape

(159, 26)

In [ ]:
df.iloc[50:60,:]

    symboling normalized-losses        make  ... city-mpg highway-mpg price
77          2               161  mitsubishi  ...       31          38  6189
78          2               161  mitsubishi  ...       31          38  6669
79          1               161  mitsubishi  ...       24          30  7689
80          3               153  mitsubishi  ...       23          30  9959
81          3               153  mitsubishi  ...       25          32  8499
85          1               125  mitsubishi  ...       25          32  6989
86          1               125  mitsubishi  ...       25          32  8189
87          1               125  mitsubishi  ...       23          30  9279
88         -1               137  mitsubishi  ...       23          30  9279
89          1               128      nissan  ...       31          37  5499

[10 rows x 26 columns]

# <b>Problem 5 : Print the company name which manufactured the most expensive car. Also print the price of the most expensive car

In [ ]:
# Your code here
max_price = df[df['price'] == df['price'].max()]
max_price[['make','price']]

           make price
188  volkswagen  9995

In [ ]:
df.groupby(['make'], sort=False)['price'].max().reset_index()

             make  price
0            audi  23875
1             bmw  21105
2       chevrolet   6575
3           dodge   8921
4           honda   9095
5          jaguar  32250
6           mazda   8845
7   mercedes-benz  35056
8      mitsubishi   9959
9          nissan   9549
10         peugot  18150
11       plymouth   8921
12        porsche  22018
13           saab  18620
14         subaru   9960
15         toyota   9989
16     volkswagen   9995
17          volvo  22625

# <b>Problem 6 : Calculate maximum horsepowers for each company. </b>

In [ ]:
# Your code here
df.groupby(['make'],sort=False)['horsepower'].max().reset_index()

             make horsepower
0            audi        140
1             bmw        121
2       chevrolet         70
3           dodge         88
4           honda         86
5          jaguar        176
6           mazda         84
7   mercedes-benz        155
8      mitsubishi         88
9          nissan         97
10         peugot         97
11       plymouth         88
12        porsche        143
13           saab        160
14         subaru         94
15         toyota         92
16     volkswagen         90
17          volvo        162

# <b> Problem 7 : Print the total number of cars manufactured by each company

In [ ]:
# Your code here
df.groupby(['make'], sort=False)['make'].count()

make
audi              4
bmw               4
chevrolet         3
dodge             8
honda            13
jaguar            1
mazda            11
mercedes-benz     5
mitsubishi       10
nissan           18
peugot            7
plymouth          6
porsche           1
saab              6
subaru           12
toyota           31
volkswagen        8
volvo            11
Name: make, dtype: int64

# <b> Problem 8 : Create a new column for the updated price. This updated price will be calculated on top of the given price - if the engine is in front, price will be same else if the engine is in rear, price will be doubled </b>

In [ ]:
# Your code here. Use apply and lambda
def revised_price(engine_location, price):
  if engine_location == 'front':
    updated_price = price
  else:
    updated_price = price * 2

  return updated_price

df['updated_price'] = df.apply(lambda x: revised_price(x['engine-location'], x['price']),axis=1)

In [ ]:
df.iloc[:-30,:]

     symboling normalized-losses    make  ... highway-mpg  price updated_price
3            2               164    audi  ...          30  13950         13950
4            2               164    audi  ...          22  17450         17450
6            1               158    audi  ...          25  17710         17710
8            1               158    audi  ...          20  23875         23875
10           2               192     bmw  ...          29  16430         16430
..         ...               ...     ...  ...         ...    ...           ...
165          1               168  toyota  ...          29   9298          9298
166          1               168  toyota  ...          29   9538          9538
167          2               134  toyota  ...          30   8449          8449
168          2               134  toyota  ...          30   9639          9639
169          2               134  toyota  ...          30   9989          9989

[129 rows x 27 columns]

# <b>Problem 9 : Sort the dataframe by car and price columns

In [ ]:
# Your code here
df.sort_values(['make','price'], ascending=[False,True]).head()

     symboling normalized-losses   make  ... highway-mpg  price updated_price
194         -2               103  volvo  ...          28  12940         12940
195         -1                74  volvo  ...          28  13415         13415
196         -2               103  volvo  ...          28  15985         15985
197         -1                74  volvo  ...          28  16515         16515
200         -1                95  volvo  ...          28  16845         16845

[5 rows x 27 columns]

# <b> Problem 10 : Create a new column which stores the number of doors in a car as integers.

In [ ]:
# Your code here. Use apply
def string_int(doors):
  dict_of_doors = {'one':1,'two':2,'three':3,'four':4}
  n = dict_of_doors[doors]
  return n

df['no_of_doors'] = df.apply(lambda x: string_int(x['num-of-doors']),axis=1)
df.head()

    symboling normalized-losses  make  ...  price updated_price no_of_doors
3           2               164  audi  ...  13950         13950           4
4           2               164  audi  ...  17450         17450           4
6           1               158  audi  ...  17710         17710           4
8           1               158  audi  ...  23875         23875           4
10          2               192   bmw  ...  16430         16430           2

[5 rows x 28 columns]

# <b>Problem 11 : Concatenate the two data frames given below firstly row wise and secondly column wise.</b>

<code>GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}</code>

<code>japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}</code>

In [ ]:
# Your code here
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
df_germancars = pd.DataFrame(GermanCars)
df_japanesecars = pd.DataFrame(japaneseCars)
#imdb_non_null_runtime = pd.concat([imdb1,imdb2,imdb3])

In [ ]:
japanese_nd_german_cars = pd.concat([df_germancars,df_japanesecars],axis=0)
japanese_nd_german_cars

       Company   Price
0         Ford   23845
1     Mercedes  171995
2          BMV  135925
3         Audi   71400
0       Toyota   29995
1        Honda   23600
2       Nissan   61500
3  Mitsubishi    58900

In [ ]:
japanese_nd_german_cars = pd.concat([df_germancars,df_japanesecars],axis=1)
japanese_nd_german_cars

    Company   Price      Company  Price
0      Ford   23845       Toyota  29995
1  Mercedes  171995        Honda  23600
2       BMV  135925       Nissan  61500
3      Audi   71400  Mitsubishi   58900